<!DOCTYPE html>
<html>
<head>
    <title>Contract Deals</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
   <center> <h2>Qutation Details view</h2>  </center>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Description</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for deal in deal %}
                <tr>
                    <td>{{ deal.name }}</td>
                    <td>{{ deal.phone_number }}</td>
                    <td>{{ deal.location }}</td>
                    <td>{{ deal.description }}</td>
                    <td>{{ deal.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

